@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /*--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;*/
    --color-black: #060606;
    --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif;
    --fontsize-2xs: 0.625rem; /* 10 px */
}

.text-2xs {
    font-size: var(--fontsize-2xs);
}
